<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.adamkiss.kirby.search</string>
	<key>category</key>
	<string>Web Shortcuts</string>
	<key>connections</key>
	<dict>
		<key>F95DB7AE-82E7-4F5B-A7A2-23148205DF9D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4660B802-A6C8-46CA-B48B-528D8A06D03B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5458410E-EEE2-4E9B-AFBF-51B642D3625A</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Adam Kiss</string>
	<key>description</key>
	<string>An ultra-fast Kirby docs search workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Kirby Docs Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4660B802-A6C8-46CA-B48B-528D8A06D03B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>kd</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading search for "{query}"</string>
				<key>script</key>
				<string>if [ -n $user_php_script ]; then
	eval $user_php_script
fi

php index.php "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>index.php</string>
				<key>subtext</key>
				<string>Search Kirby docs…</string>
				<key>title</key>
				<string>Kirby Docs</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F95DB7AE-82E7-4F5B-A7A2-23148205DF9D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5458410E-EEE2-4E9B-AFBF-51B642D3625A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Kirby Docs search workflow for Alfred 5

An ultra-fast Kirby Docs search workflow for Alfred 5

## ⚠️ You need to have PHP installed!

You need PHP 8+ to run this workflow. The absolutely easiest way is to [download MAMP](https://www.mamp.info/en/downloads/). The next easiest, and much better for your hard drive is to install [PHP](https://formulae.brew.sh/formula/php) via [Homebrew](https://brew.sh). Once you install the PHP, note down the path to its binaries, and install the workflow.

- Homebrew: `/opt/homebrew/bin`
- MAMP: `/Applications/MAMP/bin/php/php8.0.8/bin`

## Installation

1. [Download the latest version](https://github.com/adamkiss/alfred-kirby-search/releases)
2. Install the workflow by double-clicking the `.alfredworkflow` file
3. During the import, there are two configurable fields:
	- **Shell command for PHP** - Here's where you can add shell code to locate your PHP binary. e.g.: `export PATH=/opt/homebrew/bin:$PATH`
	- **Use Adam's shortcuts** - There's a number of pages that are missing from Kirby's Algolia Index
4. You can use the search now :)

## Usage

- Open Alfred prompt
- `kd &lt;query&gt;` - Search the Kirby docs
- `kd &lt;A&gt; &lt;query&gt;` - if your query is preceded by a single letter - one of `[cgkpr]` - followed by a space, the query search will be limited to the area this letter refers to:
	- &lt;kbd&gt;c&lt;/kbd&gt; - Cookbook
	- &lt;kbd&gt;g&lt;/kbd&gt; - Guide
	- &lt;kbd&gt;k&lt;/kbd&gt; - Kosmos
	- &lt;kbd&gt;p&lt;/kbd&gt; - Plugins
	- &lt;kbd&gt;r&lt;/kbd&gt; - Reference
- special shortcuts - There is a number of links missing from the index, but these specific were really missing for me, so if you check the "adam's shortcuts" checkbox, they'll be there for you:
	- `kt` - KirbyText: Reference index
	- `help` - Helpers
	- `fmidx` - Field methods index
	- `icons` - Icon index
	- `allc` - All classes
	- `roots` - System &gt; Roots
	- `validators` - System &gt; Validators
	- `hooks` - List of hooks
	- `uilist` - UI Kit Index
	- `tools` - Toolkit

## Acknowledgments

- Matt Clinton and their [Alfred Tailwind Docs search](https://github.com/clnt/alfred-tailwindcss-docs), which I used as a reference
- Bastian Allgeier for allowing me to piggyback on the Algolia search index already available on [getkirby.com](https://getkirby.com)

## Copyright / License

(c) 2021-2022 Adam Kiss, licensed under [MIT License](https://github.com/adamkiss/alfred-kirby-search/blob/main/LICENSE).</string>
	<key>uidata</key>
	<dict>
		<key>4660B802-A6C8-46CA-B48B-528D8A06D03B</key>
		<dict>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>5458410E-EEE2-4E9B-AFBF-51B642D3625A</key>
		<dict>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>F95DB7AE-82E7-4F5B-A7A2-23148205DF9D</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>3</integer>
			</dict>
			<key>description</key>
			<string>If your PHP isn't widely available in your system, here you can add a ZSH snippet to make it available, for instance:

`export PATH=/opt/homebrew/bin:$PATH`

and it will be automatically prepended every time you search</string>
			<key>label</key>
			<string>Shell command for enabling PHP</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>user_php_script</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Use them</string>
			</dict>
			<key>description</key>
			<string>I've included a couple of shortcuts which are missing from Kirby's Algolia index - mostly Reference "index" pages, for example 'Panel /icons', 'All Classes', etc. Their shortcuts are available in the readme,</string>
			<key>label</key>
			<string>Use Adam's shortcuts</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>user_adam_shortcuts</string>
		</dict>
	</array>
	<key>version</key>
	<string>3.0.1</string>
	<key>webaddress</key>
	<string>https://adamkiss.com</string>
</dict>
</plist>
